Source: mc-panda
Priority: optional
Maintainer: Arnaud Tanguy <arn.tanguy+ppa@gmail.com>
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/jrl-umi3218/mc_panda
Vcs-Git: https://github.com/jrl-umi3218/mc_panda
Vcs-Browser: https://github.com/jrl-umi3218/mc_panda
Build-Depends: debhelper (>= 9),
               cmake,
               libmc-rtc-dev,
               libfranka-0.9.2-dev (<= 0.9.2)

Package: mc-panda
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmc-rtc-dev
Description: Provides the Panda modules for mc_rtc
